[neopixel LED]
pin: PA8
chain_count: 25
#color_order: RGB

[gcode_macro LED_OFF]
gcode:
  SET_LED LED=LED RED=0 GREEN=0 BLUE=0

[gcode_macro TOP_LED]
gcode:
  {% set P = params.P|default(0)|int %}
  {% for index in range(1, 23) %}
    SET_LED LED=LED RED={P/100|float} GREEN={P/100|float} BLUE={P/100|float} INDEX={index}
  {% endfor %}

[gcode_macro TOP_OFF]
gcode:
  {% for index in range(0, 23) %}
    SET_LED LED=LED RED=0 GREEN=0 BLUE=0 INDEX={23-index}
  {% endfor %}

[gcode_macro TOP_BASSI]
gcode:
  TOP_LED P=25

[gcode_macro TOP_MEDI]
gcode:
  TOP_LED P=60

[gcode_macro TOP_MAX]
gcode:
  TOP_LED P=100

[gcode_macro HOT_LED]
gcode:
  {% set P = params.P|default(0)|int %}
  {% for index in range(0, 3) %}
    SET_LED LED=LED RED={P/100|float} GREEN={P/100|float} BLUE={P/100|float} INDEX={25-index}
    G4 P200
  {% endfor %}

[gcode_macro HOTEND_OFF]
gcode:
  {% for index in range(23, 26) %}
    SET_LED LED=LED RED=0 GREEN=0 BLUE=0 INDEX={index}
    G4 P200
  {% endfor %}

[gcode_macro HOTEND_BASSI]
gcode:
  HOT_LED P=10

[gcode_macro HOTEND_MEDI]
gcode:
  HOT_LED P=50

[gcode_macro HOTEND_MAX]
gcode:
  HOT_LED P=100

[gcode_macro STOP_EFFETTI]
gcode:
  STOP_LED_EFFECTS

[led_effect k2000]
autostart: false
frame_rate: 24
leds:
  neopixel:LED (1-22)
layers:
  	comet 1 1 add (0.34, 0.89, 0.96),(0.34, 0.89, 0.96)
	comet -1 1 add (0.34, 0.89, 0.96),(0.34, 0.89, 0.96)

[gcode_macro K2000]
gcode:
  SET_LED_EFFECT EFFECT=k2000

[led_effect hotbreath]
autostart: false
frame_rate: 24
leds:
  neopixel:LED (23-25)
layers:
  	breathing  2 0 top (.5,.5,.5)

[gcode_macro hotbreath]
gcode:
  SET_LED_EFFECT EFFECT=hotbreath

[led_effect critical_error]
leds:
    neopixel:LED 
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

[gcode_macro TIMELAPSE_TAKE_FRAME]
description: Take Timelapse shoot
variable_enable: False
variable_takingframe: False
variable_park: {'enable': False,
                'pos'   : 'center',
                'time'  : 0.1,
                'custom': {'x': 0, 'y': 0, 'dz': 0},
                'coord' : {'x': 0, 'y': 0, 'dz': 0}}
variable_extruder: {'fw_retract': False,
                    'retract': 1.0,
                    'extrude': 1.0}
variable_speed: {'travel': 100,
                 'retract': 15,
                 'extrude': 15}
variable_verbose: True
variable_restore: {'absolute': {'coordinates': True, 'extrude': True}, 'speed': 1500, 'e':0, 'factor': {'speed': 1.0, 'extrude': 1.0}}
variable_macro: {'pause': 'PAUSE', 'resume': 'RESUME'}
variable_is_paused: False
gcode:
  {% set hyperlapse = True if params.HYPERLAPSE and params.HYPERLAPSE|lower =='true' else False %}
  {% if enable %}
    {% if (hyperlapse and printer['gcode_macro HYPERLAPSE'].run) or
          (not hyperlapse and not printer['gcode_macro HYPERLAPSE'].run) %}
      {% if park.enable %}
        TOP_MAX
        HOTEND_OFF
        {% set pos = {'x': park.coord.x, 'y': park.coord.y, 
                      'z': [printer.gcode_move.gcode_position.z + park.coord.dz, printer.toolhead.axis_maximum.z]|min} %}
        {% set restore = {'absolute': {'coordinates': printer.gcode_move.absolute_coordinates,
                                       'extrude'    : printer.gcode_move.absolute_extrude},
                          'speed'   : printer.gcode_move.speed,
                          'e'       : printer.gcode_move.gcode_position.e,
                          'factor'  : {'speed'  : printer.gcode_move.speed_factor,
                                       'extrude': printer.gcode_move.extrude_factor}} %}
        SET_GCODE_VARIABLE MACRO=TIMELAPSE_TAKE_FRAME VARIABLE=restore VALUE="{restore}"
        {% if not printer[printer.toolhead.extruder].can_extrude %}
          {% if verbose %}{action_respond_info("Timelapse: Warning, minimum extruder temperature not reached!")}{% endif %}
        {% else %}
          {% if extruder.fw_retract %}
            G10
          {% else %}
            M83     ; insure relative extrusion
            G0 E-{extruder.retract} F{speed.retract * 60}
          {% endif %}
        {% endif %}
        SET_GCODE_VARIABLE MACRO=TIMELAPSE_TAKE_FRAME VARIABLE=is_paused VALUE=True 
        {macro.pause}            ; execute the klipper PAUSE command
        SET_GCODE_OFFSET X=0 Y=0 ; this will insure that the head parks always at the same position in a multi setup
        G90                      ; insure absolute move
        {% if "xyz" not in printer.toolhead.homed_axes %}
          {% if verbose %}{action_respond_info("Timelapse: Warning, axis not homed yet!")}{% endif %}
        {% else %}
          G0 X{pos.x} Y{pos.y} Z{pos.z} F{speed.travel * 60}
        {% endif %}
        SET_GCODE_VARIABLE MACRO=TIMELAPSE_TAKE_FRAME VARIABLE=takingframe VALUE=True
        UPDATE_DELAYED_GCODE ID=_WAIT_TIMELAPSE_TAKE_FRAME DURATION=0.5
        M400
        TOP_BASSI
        HOTEND_BASSI
      {% endif %}
      _TIMELAPSE_NEW_FRAME HYPERLAPSE={hyperlapse}
    {% endif %}
  {% else %}
    {% if verbose %}{action_respond_info("Timelapse: disabled, take frame ignored")}{% endif %}
  {% endif %}